<h1>SwissArmyModule Module</h1>
<h2>Description</h2>
<p>This module is mainly used to redirect the logs of the app to a file called "console.log".
It can also be used to backup the "console.log" file under the  "logUploads" directory.</p>
<h2>Accessing the SwissArmyModule Module</h2>
<p>To access this module from JavaScript, you would do the following:</p>
<pre><code>var SwissArmyModule = require("com.demandware.SwissArmyUtils");
</code></pre>
<p>The SwissArmyModule variable is a reference to the Module object.</p>
<h2>Reference</h2>
<p>This module is mainly used to redirect the logs of the app to a file called "console.log".
    It can also be used to backup the "console.log" file under the  "logUploads" directory.</p>
<pre><code>APIs

- redirectConsoleLogToFile //  redirect logs to "console.log"
- backupLogs // backup the "console.log" to "[app UUID]_[DATETIME].log" file
- getUUID // return app UUID
- eaLog // log to the console
</code></pre>
<h3><strong>_PROJECTNAMEASIDENTIFIER</strong>.function</h3>
<p>TODO: This is an example of a module function.</p>
<h3><strong>_PROJECTNAMEASIDENTIFIER</strong>.property</h3>
<p>TODO: This is an example of a module property.</p>
<h2>Usage</h2>
<p>TODO: Enter your usage example here</p>
<h2>Author</h2>
<p>Salesforce Commerce Cloud</p>
<h2>License</h2>
<p>TODO: Enter your license/legal information here.</p>