<h1>Change Log</h1>
<p><pre>
v1.4.0  Updated project with 64bit binary support [TIMOB-18092]</p>
<p>v1.3    Rewrote rendering algorithm to allow for a number of enhancements:
        - Retina display support [MOD-636]
        - Fix erratic sharpening of previous drawings [MOD-635]
        - Smooth erasing identical to how Paint behaves on Android
        - Improved multi-touch drawing performance
        - Quadratic smoothing of lines</p>
<p>v1.2    Fixed percent width visual defects [MOD-348]
        Improved multi-touch drawing performance</p>
<p>v1.1    Added multi-touch support [MOD-243]
        Added "image" property to the paint view. See example and documentation to find out more.</p>
<p>v1.0    Initial Release</p>